<div
  class="container mx-auto p-6"
  data-controller="property"
>
  <!-- Property Title -->
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-3xl font-semibold"><%= @property.headline %></h1>
    </div>
    <div>
      <div class="flex">
        <%= link_to "", data: { controller: "share", action: "share#share"} do %>
          <span class="flex items-center p-2 rounded-lg hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 mr-1">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
            </svg>
            Share
          </span>
        <% end%>
        <span class="flex items-center p-2 rounded-lg hover:bg-gray-100 cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="<%= @property.favorited_by?(current_user) ? '#FF5A5F' : 'none' %>"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4 mr-1"
            data-controller="favorites"
            data-favorited-color="#FF5A5F"
            data-unfavorited-color="#FFFFFF"
            data-action="click->favorites#favorite"
            data-favorited="<%= @property.favorited_by?(current_user) %>"
            data-favorite-id="<%= @property.favorites.find_by(user_id: current_user&.id)&.id %>"
            data-user-logged-in="<%= user_signed_in? %>"
            data-user-id="<%= current_user&.id %>"
            data-property-id="<%= @property.id %>"
          >
            <path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z" />
          </svg>
          <span data-favorites-target="text">Save</span>
        </span>
      </div>
    </div>
  </div>
  
  
  <!-- Photos Section -->
  <div class="mb-6 grid grid-cols-2 gap-3">
    <!-- Main Photo (Left Half) -->
    <div class="w-full">
      <%= image_tag @property.default_image, class: "object-center object-cover rounded-lg aspect-[16/15]" %>
    </div>

    <!-- Additional Photos (Right Half) -->
    <div class="w-full grid grid-cols-2 gap-3">
      <div class="">
        <img src="<%= asset_path('airbnb-bg')%>" alt="Additional Photo 1" class="w-full h-auto object-center object-cover aspect-[16/15] rounded-lg">
      </div>
      <div>
        <img src="<%= asset_path('airbnb-bg')%>" alt="Additional Photo 2" class="w-full h-auto object-center object-cover aspect-[16/15] rounded-lg">
      </div>
      <div>
        <img src="<%= asset_path('airbnb-bg')%>" alt="Additional Photo 3" class="w-full h-auto object-center object-cover aspect-[16/15] rounded-lg">
      </div>
      <div>
        <img src="<%= asset_path('airbnb-bg')%>" alt="Additional Photo 4" class="w-full h-auto object-center object-cover aspect-[16/15] rounded-lg">
      </div>
    </div>
  </div>

  <!-- Description and Reservation Section -->
  <div class="flex flex-wrap my-4">
    <!-- Description (Left Half) -->
    <div class="w-full md:w-2/3 mb-6 md:mb-0 md:pr-8">
      <p class="font-semibold text-xl">Property in <%= "#{@property.city}, #{@property.country}" %></p>
      <div></div>
      <hr class="mt-6"/>
      <div class="py-6 flex items-center">
        <div>
          <%= image_tag @property.default_image, class: "w-12 h-12 object-center object-cover rounded-full mr-6" %>
        </div>
        <div>
          <p class="font-medium">
            Hosted by Misha
          </p>
          <p class="text-sm text-gray-400">
            8 months hosting
          </p>
        </div>
      </div>
      <hr/>
      <div class="my-6">
        <div class="flex items-center my-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; fill: currentcolor;" class="w-12 mr-6">
            <path d="M26 1a5 5 0 0 1 5 5c0 6.39-1.6 13.19-4 14.7V31h-2V20.7c-2.36-1.48-3.94-8.07-4-14.36v-.56A5 5 0 0 1 26 1zm-9 0v18.12c2.32.55 4 3 4 5.88 0 3.27-2.18 6-5 6s-5-2.73-5-6c0-2.87 1.68-5.33 4-5.88V1zM2 1h1c4.47 0 6.93 6.37 7 18.5V21H4v10H2zm14 20c-1.6 0-3 1.75-3 4s1.4 4 3 4 3-1.75 3-4-1.4-4-3-4zM4 3.24V19h4l-.02-.96-.03-.95C7.67 9.16 6.24 4.62 4.22 3.36L4.1 3.3zm19 2.58v.49c.05 4.32 1.03 9.13 2 11.39V3.17a3 3 0 0 0-2 2.65zm4-2.65V17.7c.99-2.31 2-7.3 2-11.7a3 3 0 0 0-2-2.83z">
            </path>
          </svg>
          <div>
            <p class="font-medium">
              Amenities for everyday living
            </p>
            <p class="text-sm text-gray-400">
              The host has equipped this place for long stays—kitchen, washer, free parking, and AC included.
            </p>
          </div>
        </div>
        <div class="flex items-center my-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; fill: currentcolor;" class="w-12 mr-6">
            <path d="M13.7 13.93a4 4 0 0 1 5.28.6l.29.37 4.77 6.75a4 4 0 0 1 .6 3.34 4 4 0 0 1-4.5 2.91l-.4-.08-3.48-.93a1 1 0 0 0-.52 0l-3.47.93a4 4 0 0 1-2.94-.35l-.4-.25a4 4 0 0 1-1.2-5.2l.23-.37 4.77-6.75a4 4 0 0 1 .96-.97zm3.75 1.9a2 2 0 0 0-2.98.08l-.1.14-4.84 6.86a2 2 0 0 0 2.05 3.02l.17-.04 4-1.07a1 1 0 0 1 .5 0l3.97 1.06.15.04a2 2 0 0 0 2.13-2.97l-4.95-7.01zM27 12a4 4 0 1 1 0 8 4 4 0 0 1 0-8zM5 12a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm22 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zM5 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm6-10a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm10 0a4 4 0 1 1 0 8 4 4 0 0 1 0-8zM11 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm10 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4z">
            </path>
          </svg>
          <div>
            <p class="font-medium">
              Pet friendly
            </p>
            <p class="text-sm text-gray-400">
              Furry friends are welcome throughout your stay.
            </p>
          </div>
        </div>
        <div class="flex items-center my-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; fill: currentcolor;" class="w-12 mr-6">
            <path d="M11.67 0v1.67h8.66V0h2v1.67h6a2 2 0 0 1 2 1.85v16.07a2 2 0 0 1-.46 1.28l-.12.13L21 29.75a2 2 0 0 1-1.24.58H6.67a5 5 0 0 1-5-4.78V3.67a2 2 0 0 1 1.85-2h6.15V0zm16.66 11.67H3.67v13.66a3 3 0 0 0 2.82 3h11.18v-5.66a5 5 0 0 1 4.78-5h5.88zm-.08 8h-5.58a3 3 0 0 0-3 2.82v5.76zm-18.58-16h-6v6h24.66v-6h-6v1.66h-2V3.67h-8.66v1.66h-2z">
            </path>
          </svg>
          <div>
            <p class="font-medium">
              Free cancellation before March 9
            </p>
          </div>
        </div>
      </div>
      <hr/>
      <div class="my-8">
        <div>
          <p class="mb-4">
            <%= truncate @property.description, length: 400 %>
          </p>
          <% if @property.description.length > 400 %>
            <%= link_to "Show more >", "", data: { action: "property#readDescription" }, class: "underline" %>
          <% end%>
        </div>
      </div>
    </div>
    <!-- Reservation Section (Right Half) -->
    <div class="w-full md:w-1/3 relative">
      <div class=" shadow-xl rounded-xl border border-gray-200 p-6 sticky top-5">
        <div class="text-md mb-4">
          <span class="text-xl font-semibold">100$</span>
          night
        </div>
        <!-- Your reservation form goes here -->
        <!-- For example: -->
        <form>
          <!-- Form fields -->
          <!-- ... -->
          <button type="submit" class="w-full bg-[#FF5A5F] text-white px-4 py-3 rounded-md hover:bg-gray-400">Reserve</button>
        </form>
        <div class="text-center py-4">
          You won't be charged yet
        </div>
        <div class="flex justify-between">
          <div class="underline">$100 x 5 nights</div>
          <div>$500</div>
        </div>
        <div class="flex justify-between">
          <div class="underline">Airbnb service fee</div>
          <div>$48</div>
        </div>
        <hr class="h-px my-8 bg-gray-300 border-0">
        <div class="flex justify-between">
          <div>Total</div>
          <div>$548</div>
        </div>
      </div>
    </div>
    
  </div>
  <hr />
  <div class="my-8" >
    <div class="items-center flex mt-10 p-1">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
      </svg>
      <p class="text-xl font-semibold inline-flex items-center ml-1">4.83</p>
      <span class="w-1 h-1 mx-2 bg-gray-900 rounded-full"></span>
      <p class="text-md font-medium text-gray-500">376 reviews</p>
    </div>
    <div class="flex justify-between mt-5">
      <dl class="w-[80%] pr-6">
        <dt class="text-sm font-medium mb-2">Overall rating</dt>
        <dd class="flex items-center">
          <span class="text-xs font-medium">5</span>
          <div class="w-full bg-gray-300 rounded h-1 me-2 ml-2">
            <div class="h-1 rounded bg-gray-700" style="width: 88%"></div>
          </div>
        </dd>
        <dd class="flex items-center">
          <span class="text-xs font-medium">4</span>
          <div class="w-full bg-gray-300 rounded h-1 me-2 ml-2">
            <div class="h-1 rounded bg-gray-700" style="width: 88%"></div>
          </div>
        </dd>
        <dd class="flex items-center">
          <span class="text-xs font-medium">3</span>
          <div class="w-full bg-gray-300 rounded h-1 me-2 ml-2">
            <div class="h-1 rounded bg-gray-700" style="width: 88%"></div>
          </div>
        </dd>
        <dd class="flex items-center">
          <span class="text-xs font-medium">2</span>
          <div class="w-full bg-gray-300 rounded h-1 me-2 ml-2">
            <div class="h-1 rounded bg-gray-700" style="width: 88%"></div>
          </div>
        </dd>
        <dd class="flex items-center">
          <span class="text-xs font-medium">1</span>
          <div class="w-full bg-gray-300 rounded h-1 me-2 ml-2">
            <div class="h-1 rounded bg-gray-700" style="width: 88%"></div>
          </div>
        </dd>
      </dl>
      <div class="w-[80%] px-6 border-l border-gray-300 flex flex-col justify-between">
        <div>
          <p class="text-sm font-medium">Comfort</p>
          <p class="text-lg font-medium">4.8</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 32px; width: 32px; fill: currentcolor;">
          <path d="M24 0v6h-4.3c.13 1.4.67 2.72 1.52 3.78l.2.22-1.5 1.33a9.05 9.05 0 0 1-2.2-5.08c-.83.38-1.32 1.14-1.38 2.2v4.46l4.14 4.02a5 5 0 0 1 1.5 3.09l.01.25.01.25v8.63a3 3 0 0 1-2.64 2.98l-.18.01-.21.01-12-.13A3 3 0 0 1 4 29.2L4 29.02v-8.3a5 5 0 0 1 1.38-3.45l.19-.18L10 12.9V8.85l-4.01-3.4.02-.7A5 5 0 0 1 10.78 0H11zm-5.03 25.69a8.98 8.98 0 0 1-6.13-2.41l-.23-.23A6.97 6.97 0 0 0 6 21.2v7.82c0 .51.38.93.87 1H7l11.96.13h.13a1 1 0 0 0 .91-.88l.01-.12v-3.52c-.34.04-.69.06-1.03.06zM17.67 2H11a3 3 0 0 0-2.92 2.3l-.04.18-.01.08 3.67 3.1h2.72l.02-.1a4.29 4.29 0 0 1 3.23-3.4zM30 4a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm-3-2a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm-5 0h-2.33v2H22zm8-2a1 1 0 1 1 0 2 1 1 0 0 1 0-2zM20 20.52a3 3 0 0 0-.77-2l-.14-.15-4.76-4.61v-4.1H12v4.1l-5.06 4.78a3 3 0 0 0-.45.53 9.03 9.03 0 0 1 7.3 2.34l.23.23A6.98 6.98 0 0 0 20 23.6z">
          </path>
        </svg>
      </div>
      <div class="w-[80%] px-6 border-l border-gray-300 flex flex-col justify-between">
        <div>
          <p class="text-sm font-medium">Accuracy</p>
          <p class="text-lg font-medium">4.8</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 32px; width: 32px; fill: currentcolor;">
          <path d="M16 1a15 15 0 1 1 0 30 15 15 0 0 1 0-30zm0 2a13 13 0 1 0 0 26 13 13 0 0 0 0-26zm7 7.59L24.41 12 13.5 22.91 7.59 17 9 15.59l4.5 4.5z">
          </path>
        </svg>
      </div>
      <div class="w-[80%] px-6 border-l border-gray-300 flex flex-col justify-between">
        <div>
          <p class="text-sm font-medium">Check-in</p>
          <p class="text-lg font-medium">4.8</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 32px; width: 32px; fill: currentcolor;">
          <path d="M16.84 27.16v-3.4l-.26.09c-.98.32-2.03.51-3.11.55h-.7A11.34 11.34 0 0 1 1.72 13.36v-.59A11.34 11.34 0 0 1 12.77 1.72h.59c6.03.16 10.89 5.02 11.04 11.05V13.45a11.3 11.3 0 0 1-.9 4.04l-.13.3 7.91 7.9v5.6H25.7l-4.13-4.13zM10.31 7.22a3.1 3.1 0 1 1 0 6.19 3.1 3.1 0 0 1 0-6.2zm0 2.06a1.03 1.03 0 1 0 0 2.06 1.03 1.03 0 0 0 0-2.06zM22.43 25.1l4.12 4.13h2.67v-2.67l-8.37-8.37.37-.68.16-.3c.56-1.15.9-2.42.96-3.77v-.64a9.28 9.28 0 0 0-9-9h-.55a9.28 9.28 0 0 0-9 9v.54a9.28 9.28 0 0 0 13.3 8.1l.3-.16 1.52-.8v4.62z">
          </path>
        </svg>
      </div>
      <div class="w-[80%] px-6 border-l border-gray-300 flex flex-col justify-between">
        <div>
          <p class="text-sm font-medium">Communication</p>
          <p class="text-lg font-medium">4.8</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 32px; width: 32px; stroke: currentcolor; stroke-width: 2; overflow: visible;"><path fill="none" d="M26 3a4 4 0 0 1 4 4v14a4 4 0 0 1-4 4h-6.32L16 29.5 12.32 25H6a4 4 0 0 1-4-4V7a4 4 0 0 1 4-4z"></path></svg>
      </div>
      <div class="w-[80%] px-6 border-l border-gray-300 flex flex-col justify-between">
        <div>
          <p class="text-sm font-medium">Location</p>
          <p class="text-lg font-medium">4.8</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 32px; width: 32px; fill: currentcolor;"><path d="M30.95 3.81a2 2 0 0 0-2.38-1.52l-7.58 1.69-10-2-8.42 1.87A1.99 1.99 0 0 0 1 5.8v21.95a1.96 1.96 0 0 0 .05.44 2 2 0 0 0 2.38 1.52l7.58-1.69 10 2 8.42-1.87A1.99 1.99 0 0 0 31 26.2V4.25a1.99 1.99 0 0 0-.05-.44zM12 4.22l8 1.6v21.96l-8-1.6zM3 27.75V5.8l-.22-.97.22.97 7-1.55V26.2zm26-1.55-7 1.55V5.8l7-1.55z"></path></svg>
      </div>
      <div class="w-[80%] px-6 border-l border-gray-300 flex flex-col justify-between">
        <div>
          <p class="text-sm font-medium">Value</p>
          <p class="text-lg font-medium">4.8</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 32px; width: 32px; fill: currentcolor;"><path d="M16.17 2a3 3 0 0 1 1.98.74l.14.14 11 11a3 3 0 0 1 .14 4.1l-.14.14L18.12 29.3a3 3 0 0 1-4.1.14l-.14-.14-11-11A3 3 0 0 1 2 16.37l-.01-.2V5a3 3 0 0 1 2.82-3h11.35zm0 2H5a1 1 0 0 0-1 .88v11.29a1 1 0 0 0 .2.61l.1.1 11 11a1 1 0 0 0 1.31.08l.1-.08L27.88 16.7a1 1 0 0 0 .08-1.32l-.08-.1-11-11a1 1 0 0 0-.58-.28L16.17 4zM9 6a3 3 0 1 1 0 6 3 3 0 0 1 0-6zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path></svg>
      </div>
    </div>
  </div>
  <hr/>
  <div class="grid grid-cols-2 my-8">
    <article>
        <div class="flex items-center mb-4">
            <img class="w-10 h-10 me-4 rounded-full" src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Elon_Musk_%283017880307%29.jpg" alt="">
            <div class="font-medium">
                <p>Jese Leos <time datetime="2014-08-16 19:00" class="block text-sm text-gray-500">United Kingdom</time></p>
            </div>
        </div>
        <div class="flex items-center mb-1 rtl:space-x-reverse">
          <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
          </svg>
          <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
          </svg>
          <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
          </svg>
          <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
          </svg>
          <svg class="w-2 h-2 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
          </svg>
          <h3 class="ms-2 text-sm font-semibold text-gray-900">August 2023</h3>
        </div>
        <p class="mb-2 text-gray-500">This is my third Invicta Pro Diver. They are just fantastic value for money. This one arrived yesterday and the first thing I did was set the time, popped on an identical strap from another Invicta and went in the shower with it to test the waterproofing.... No problems.</p>
        <a href="#" class="block mb-5 text-sm font-medium text-blue-600 hover:underline">Show more</a>
    </article>

  </div>
</div>

<%= render "shared/modal", modal_trigger_id: "share-modal-trigger", modal_content: "properties/share_property" %>
<%= render "shared/modal", modal_trigger_id: "property-description-trigger", modal_content: "properties/property_description" %>