<div
  class="container mx-auto p-6"
  data-controller="property"
>
  <!-- Property Title -->
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-3xl font-semibold"><%= @property.headline %></h1>
    </div>
    <div>
      <div class="flex">
        <%= link_to "", data: { controller: "share", action: "share#share"} do %>
          <span class="flex items-center p-2 rounded-lg hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 mr-1">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
            </svg>
            Share
          </span>
        <% end%>
        <span class="flex items-center p-2 rounded-lg hover:bg-gray-100 cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="<%= @property.favorited_by?(current_user) ? '#FF5A5F' : 'none' %>"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4 mr-1"
            data-controller="favorites"
            data-favorited-color="#FF5A5F"
            data-unfavorited-color="#FFFFFF"
            data-action="click->favorites#favorite"
            data-favorited="<%= @property.favorited_by?(current_user) %>"
            data-favorite-id="<%= @property.favorites.find_by(user_id: current_user&.id)&.id %>"
            data-user-logged-in="<%= user_signed_in? %>"
            data-user-id="<%= current_user&.id %>"
            data-property-id="<%= @property.id %>"
          >
            <path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z" />
          </svg>
          <span data-favorites-target="text">Save</span>
        </span>
      </div>
    </div>
  </div>
  
  
  <!-- Photos Section -->
  <div class="mb-6 grid grid-cols-2 gap-3">
    <!-- Main Photo (Left Half) -->
    <div class="w-full">
      <%= image_tag @property.default_image, class: "object-center object-cover rounded-lg aspect-[16/15]" %>
    </div>

    <!-- Additional Photos (Right Half) -->
    <div class="w-full grid grid-cols-2 gap-3">
      <div class="">
        <img src="<%= asset_path('airbnb-bg')%>" alt="Additional Photo 1" class="w-full h-auto object-center object-cover aspect-[16/15] rounded-lg">
      </div>
      <div>
        <img src="<%= asset_path('airbnb-bg')%>" alt="Additional Photo 2" class="w-full h-auto object-center object-cover aspect-[16/15] rounded-lg">
      </div>
      <div>
        <img src="<%= asset_path('airbnb-bg')%>" alt="Additional Photo 3" class="w-full h-auto object-center object-cover aspect-[16/15] rounded-lg">
      </div>
      <div>
        <img src="<%= asset_path('airbnb-bg')%>" alt="Additional Photo 4" class="w-full h-auto object-center object-cover aspect-[16/15] rounded-lg">
      </div>
    </div>
  </div>

  <!-- Description and Reservation Section -->
  <div class="flex flex-wrap my-4">
    <!-- Description (Left Half) -->
    <div class="w-full md:w-2/3 mb-6 md:mb-0 md:pr-8">
      <p class="font-semibold text-xl">Property in <%= "#{@property.city}, #{@property.country}" %></p>
      <div></div>
      <hr class="mt-6"/>
      <div class="py-6 flex items-center">
        <div>
          <%= image_tag @property.default_image, class: "w-12 h-12 object-center object-cover rounded-full mr-6" %>
        </div>
        <div>
          <p class="font-medium">
            Hosted by Misha
          </p>
          <p class="text-sm text-gray-400">
            8 months hosting
          </p>
        </div>
      </div>
      <hr/>
      <div class="my-6">
        <div class="flex items-center my-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; fill: currentcolor;" class="w-12 mr-6">
            <path d="M26 1a5 5 0 0 1 5 5c0 6.39-1.6 13.19-4 14.7V31h-2V20.7c-2.36-1.48-3.94-8.07-4-14.36v-.56A5 5 0 0 1 26 1zm-9 0v18.12c2.32.55 4 3 4 5.88 0 3.27-2.18 6-5 6s-5-2.73-5-6c0-2.87 1.68-5.33 4-5.88V1zM2 1h1c4.47 0 6.93 6.37 7 18.5V21H4v10H2zm14 20c-1.6 0-3 1.75-3 4s1.4 4 3 4 3-1.75 3-4-1.4-4-3-4zM4 3.24V19h4l-.02-.96-.03-.95C7.67 9.16 6.24 4.62 4.22 3.36L4.1 3.3zm19 2.58v.49c.05 4.32 1.03 9.13 2 11.39V3.17a3 3 0 0 0-2 2.65zm4-2.65V17.7c.99-2.31 2-7.3 2-11.7a3 3 0 0 0-2-2.83z">
            </path>
          </svg>
          <div>
            <p class="font-medium">
              Amenities for everyday living
            </p>
            <p class="text-sm text-gray-400">
              The host has equipped this place for long stays—kitchen, washer, free parking, and AC included.
            </p>
          </div>
        </div>
        <div class="flex items-center my-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; fill: currentcolor;" class="w-12 mr-6">
            <path d="M13.7 13.93a4 4 0 0 1 5.28.6l.29.37 4.77 6.75a4 4 0 0 1 .6 3.34 4 4 0 0 1-4.5 2.91l-.4-.08-3.48-.93a1 1 0 0 0-.52 0l-3.47.93a4 4 0 0 1-2.94-.35l-.4-.25a4 4 0 0 1-1.2-5.2l.23-.37 4.77-6.75a4 4 0 0 1 .96-.97zm3.75 1.9a2 2 0 0 0-2.98.08l-.1.14-4.84 6.86a2 2 0 0 0 2.05 3.02l.17-.04 4-1.07a1 1 0 0 1 .5 0l3.97 1.06.15.04a2 2 0 0 0 2.13-2.97l-4.95-7.01zM27 12a4 4 0 1 1 0 8 4 4 0 0 1 0-8zM5 12a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm22 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zM5 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm6-10a4 4 0 1 1 0 8 4 4 0 0 1 0-8zm10 0a4 4 0 1 1 0 8 4 4 0 0 1 0-8zM11 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm10 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4z">
            </path>
          </svg>
          <div>
            <p class="font-medium">
              Pet friendly
            </p>
            <p class="text-sm text-gray-400">
              Furry friends are welcome throughout your stay.
            </p>
          </div>
        </div>
        <div class="flex items-center my-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 24px; fill: currentcolor;" class="w-12 mr-6">
            <path d="M11.67 0v1.67h8.66V0h2v1.67h6a2 2 0 0 1 2 1.85v16.07a2 2 0 0 1-.46 1.28l-.12.13L21 29.75a2 2 0 0 1-1.24.58H6.67a5 5 0 0 1-5-4.78V3.67a2 2 0 0 1 1.85-2h6.15V0zm16.66 11.67H3.67v13.66a3 3 0 0 0 2.82 3h11.18v-5.66a5 5 0 0 1 4.78-5h5.88zm-.08 8h-5.58a3 3 0 0 0-3 2.82v5.76zm-18.58-16h-6v6h24.66v-6h-6v1.66h-2V3.67h-8.66v1.66h-2z">
            </path>
          </svg>
          <div>
            <p class="font-medium">
              Free cancellation before March 9
            </p>
          </div>
        </div>
      </div>
      <hr/>
      <div class="my-8">
        <div>
          <p class="mb-4">
            <%= truncate @property.description, length: 400 %>
          </p>
          <% if @property.description.length > 400 %>
            <%= link_to "Show more >", "", data: { action: "property#readDescription" }, class: "underline" %>
          <% end%>
        </div>
      </div>
    </div>
    <!-- Reservation Section (Right Half) -->
    <div class="w-full md:w-1/3 relative">
      <div class=" shadow-xl rounded-xl border border-gray-200 p-6 sticky top-5">
        <div class="text-md mb-4">
          <span class="text-xl font-semibold">100$</span>
          night
        </div>
        <!-- Your reservation form goes here -->
        <!-- For example: -->
        <form>
          <!-- Form fields -->
          <!-- ... -->
          <button type="submit" class="w-full bg-[#FF5A5F] text-white px-4 py-3 rounded-md hover:bg-gray-400">Reserve</button>
        </form>
        <div class="text-center py-4">
          You won't be charged yet
        </div>
        <div class="flex justify-between">
          <div class="underline">$100 x 5 nights</div>
          <div>$500</div>
        </div>
        <div class="flex justify-between">
          <div class="underline">Airbnb service fee</div>
          <div>$48</div>
        </div>
        <hr class="h-px my-8 bg-gray-300 border-0">
        <div class="flex justify-between">
          <div>Total</div>
          <div>$548</div>
        </div>
      </div>
    </div>
    
  </div>
  <hr />
  <%= render "reviews_section" %>
</div>

<%= render "shared/modal", modal_trigger_id: "share-modal-trigger", modal_content: "properties/share_property", max_width: 'lg' %>
<%= render "shared/modal", modal_trigger_id: "property-description-trigger", modal_content: "properties/property_description", max_width: 'lg' %>